<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
  <br/>
  <div class="jumbotron">
      <p><strong>Short Summary:</strong> Web Programming</p>
      <p><strong>Credits:</strong> 3</p>
      <p><strong>Prerequisites:</strong> CS 142</p><br>

      <span>
      Introduction to web application design and implementation. Both front end and back end development with an emphasis on REST architectures.
      </span>
      <br><br><br><p> For more info: <a target="_blank" href="https://cs.byu.edu/course/cs-260">CS 260</a></p>
  </div>
</div>
</body>
</html>